<section>
    <div class="container">
        
        <table class="table mt-5" id="userstable">
  <thead class="thead" style="background-color: #5B9D4F; color:white">
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      {{!-- <th scope="col">Options</th> --}}
      
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      {{!-- <td style='text-align:center;vertical-align:middle'>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
         <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you want to delete this user {{this.Name}} ?')">Delete</a>
      </td> --}}
    </tr>
    {{/each}}
  </tbody>
</table>

    </div>
</section>

<script>
  $(function () {
    $('#userstable').DataTable();
  });
</script>